<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<title>MicroBlast Technology</title>
	</head>
	
	<body>
		<main>
			<h>
				<p>Welcome to MicroBlast Technology</p>
			</h>

            <p>
                This is the main page!
            </p>
			<p>
				<p>The employee is:</p>
				<%= locals.employee %>
				<p>The password is:</p>
				<%= locals.password %>
			</p>
		</main>
	</body>
</html>