<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<title>MicroBlast Technology</title>
		<link rel="stylesheet" href="./styles/login.css">
	</head>
	
	<body>
		<main>
			<h>
				<p>Welcome to MicroBlast Technology</p>
			</h>
			<form action="/login" method="POST">
					<label>Employee: </label>
					<input type="text" name="employee" value="<%= locals.employee  %>">

					<label>Password: </label>
					<input type="text" name="password" value="<%= locals.password %>">

					<input class="sub_btn" type="submit">
			</form>
		</main>
	</body>
</html>